body {
    font-size: Arial sans-serif;
}
table {
    width: 60%;
    margin: 0 auto;
    border-collapse: collapse;
  }
  th, td {
    border: 5px solid red;
    padding: 2px;
    text-align: center;
  }
  th {
    background-color: yellow;
  }
  caption {
    font-weight: lighter;
    font-size: 1.2em;
  }